<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mitfahrer App GSO</title>
    <link rel="stylesheet" href="/public/css/styles.css">
    <link rel="icon" href="https://www.gso-koeln.de/wp-content/uploads/2019/10/ICON-GSO_URL.png" sizes="32x32">
  </head>
  <body>
    <div class="window">
        <img src="/public/img/LOGO-GSO_neu.png" class="logo" alt="">
        <div class="login">
            <div class="items">
              <div style="margin-top:20px">
                <label style="font-size: 26px;font-family: Arial, Helvetica, sans-serif;margin-left: 8px;font-weight: bold;margin-bottom: 5px;" for="">Fahrt 1</label>
                <div class="item">
                  <p>Abholort <span class="ort"></span></p>
                  <hr class="dashed">
                  <p>Abfahrzeit <span class="zeit"></span></p>
                  <hr class="dashed">
                  <p>Freie Plätze <span class="plaetze"></span></p>
                  <hr class="dashed">
                  <p>Fahrtdauert <span class="dauer"></span></p>
                  <hr class="dashed">
                  <a href="">Anfrage Senden <span><img style="width: 25px;margin-left: -165px;float: right; transform: rotate(-180deg);" src="/public/img/arrow_left.png" alt=""></span></a>                   
                </div>
              </div>
              <div style="margin-top:20px">
                <label style="font-size: 26px;font-family: Arial, Helvetica, sans-serif;margin-left: 8px;font-weight: bold;margin-bottom: 5px;" for="">Fahrt 2</label>
                <div class="item">
                  <p>Abholort <span class="ort"></span></p>
                  <hr class="dashed">
                  <p>Abfahrzeit <span class="zeit"></span></p>
                  <hr class="dashed">
                  <p>Freie Plätze <span class="plaetze"></span></p>
                  <hr class="dashed">
                  <p>Fahrtdauert <span class="dauer"></span></p>
                  <hr class="dashed">
                  <a href="">Anfrage Senden <span><img style="width: 25px;margin-left: -165px;float: right; transform: rotate(-180deg);" src="/public/img/arrow_left.png" alt=""></span></a>                   
                </div>
                <div style="margin-top:20px">
                  <label style="font-size: 26px;font-family: Arial, Helvetica, sans-serif;margin-left: 8px;font-weight: bold;margin-bottom: 5px;" for="">Fahrt 2</label>
                  <div class="item">
                    <p>Abholort <span class="ort"></span></p>
                    <hr class="dashed">
                    <p>Abfahrzeit <span class="zeit"></span></p>
                    <hr class="dashed">
                    <p>Freie Plätze <span class="plaetze"></span></p>
                    <hr class="dashed">
                    <p>Fahrtdauert <span class="dauer"></span></p>
                    <hr class="dashed">
                    <a href="">Anfrage Senden <span><img style="width: 25px;margin-left: -165px;float: right; transform: rotate(-180deg);" src="/public/img/arrow_left.png" alt=""></span></a>                   
                  </div>
              </div>
              

            </div>
            <div class="icon_footer">
              <a href=""><img style="width: 50px;" src="/public/img/glocke.png" alt=""></a>
              <a href="/app/settings"><img style="width: 50px;margin-left: 250px;" src="/public/img/userclog.png" alt=""></a>              
            </div>
            <div class="icon_footer">
              <a href="/app/Auswahl"><img style="width: 50px" src="/public/img/arrow_left.png" alt=""></a>
          </div>
        </div>
    </div>
  </body>
</html>