<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mitfahrer App GSO</title>
    <link rel="stylesheet" href="/public/css/styles.css">
    <link rel="icon" href="https://www.gso-koeln.de/wp-content/uploads/2019/10/ICON-GSO_URL.png" sizes="32x32">
  </head>
  <body>
    <div class="window">
        <img src="/public/img/LOGO-GSO_neu.png" class="logo" alt="">
        <div class="login">
            <a href="Fahrerdateneinstellen.html" class="myButton">Fahrer</a>
            <a href="#" class="myButton">Mitfahrer</a>
            <div class="icon_footer">
                <a href=""><img style="width: 50px;" src="/public/img/images/glocke.png" alt=""></a>
                <a href="/app/settings"><img style="width: 50px;margin-left: 250px;" src="public/img/images/userclog.png" alt=""></a>     
            </div>
        </div>
    </div>
  </body>
</html>