<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Titel</title>
    <link rel="stylesheet" href="/public/css/styles.css">
  </head>
  <body>
    <div class="window">
        <img src="/public/img/LOGO-GSO_neu.png" class="logo" alt="">
        <div class="login">
            <a href="#" class="myButton">Fahrer</a>
            <a href="#" class="myButton">Mitfahrer</a>
            <div class="icon_footer">
                <img style="width: 50px;margin-left: 25px;fill:#82c6e2;" src="/public/img/bell-solid.svg" alt="">
                
                <img style="width: 65px;margin-left: 320px;fill:#82c6e2;" src="/public/img/user-cog-solid.svg" alt="">
            </div>
        </div>
    </div>
  </body>
</html>