<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mitfahrer App GSO</title>
    <link rel="icon" href="https://www.gso-koeln.de/wp-content/uploads/2019/10/ICON-GSO_URL.png" sizes="32x32">
    <link rel="stylesheet" href="/public/css/styles.css">
    <script src="/jquery/jquery.js"></script>
    <script src="/public/js/public.js"></script>
    
  </head>
  <body>
    <div class="window">
        <img src="/public/img/LOGO-GSO_neu.png" class="logo" alt="">
        <div class="login">
            <a href="/app/fahrerdateneinstellen" class="myButton">Fahrer</a>
            <a href="/app/aktuellefahrten" class="myButton">Mitfahrer</a>
            <div class="icon_footer">
              <a href=""><img style="width: 50px;" src="/public/img/glocke.png" alt=""></a>
              <a href="/app/settings"><img style="width: 50px;margin-left: 250px;" src="/public/img/userclog.png" alt=""></a>              
            </div>
        </div>
    </div>
    <div id="id" style="display: none;"></div>
  </body>
</html>