<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Titel</title>
    <link rel="stylesheet" href="/public/css/styles.css">
  </head>
  <body>
    <div class="window">
        <img src="/public/img/LOGO-GSO_neu.png" class="logo" alt="">
        <div class="login">
            <form class="loginform" action="">
                <p style="font-family: Arial, Helvetica, sans-serif; font-size: 16px; font-weight: bold;">Bitte geben Sie ihre Profildaten ein</p>
                <div class="vorname">
                    <input name="vorname" placeholder="Vorname..." type="text">
                </div>
                <div class="nachname">
                    <input name="nachname" placeholder="Nachname..." type="text">
                </div>
                <div class="adresse">
                    <input name="adresse" placeholder="Straße & Hausnr..." type="text">
                </div>
                <div class="plz">
                    <input name="plz" placeholder="PLZ..." type="text">
                </div>
                <div class="ort">
                    <input name="ort" placeholder="Ort..." type="text">
                </div>
                <div class="select Geschlecht">
                    <select>
                        <option>Geschlecht</option>
                        <option>Weiblich</option>
                        <option>Männlich</option>
                    </select>
                    <div class="select_arrow">
                    </div>
                </div>

            </form>
            <a href="/app/auswahl" class="myButton">Erstellen</a>
        </div>
    </div>
  </body>
</html>