<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mitfahrer App GSO</title>
    <link rel="stylesheet" href="/public/css/styles.css">
    <link rel="icon" href="https://www.gso-koeln.de/wp-content/uploads/2019/10/ICON-GSO_URL.png" sizes="32x32">
  </head>
  <body>
    <div class="window">
      <img src="/public/img/LOGO-GSO_neu.png" class="logo" alt="">
        <div class="login">
            <form class="loginform" action="">
                <p style="font-family: Arial, Helvetica, sans-serif; font-size: 16px; font-weight: bold;">Bitte geben Sie ihre Profildaten ein</p>
                <div class="ort">
                    <input name="ort" placeholder="Abholort..." type="text">
                </div>
                <div class="startzeit">
                    <input name="startzeit" placeholder="Abfahrt Zeit..." type="text">
                </div>
                <div class="fahrzeit">
                    <input name="fahrzeit" placeholder="Fahrtzeit in min..." type="text">
                </div>
                <div class="plätze">
                  <input name="plätze" placeholder="Freie Plätze..." type="text">
              </div>
            </form>
            <a href="/app/aktuellefahrten" class="myButton">Anlegen</a>
            <div class="icon_footer">
              <a href="/app/fahrerdateneinstellen"><img style="width: 50px;margin-left: -165px;" src="/public/img/arrow_left.png" alt=""></a>
          </div>
        </div>
    </div>
  </body>
</html>