<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Titel</title>
    <link rel="stylesheet" href="/public/css/styles.css">
    <script src="/public/js/public.js"></script>
    <script src="/public/js/plogin.js"></script>
  </head>
  <body>
    <div class="window">
        <img src="/public/img/LOGO-GSO_neu.png" class="logo" alt="">
        <div class="login">
            <form class="loginform" action="app/login" method="POST" id="loginForm">
                <p style="font-family: Arial, Helvetica, sans-serif; font-size: 16px; font-weight: bold;">Bitte geben Sie ihre Nutzerdaten ein</p>
                <div class="mail">
                    <input name="mail" placeholder="E-Mail Adresse..." type="text" id="mail">    
                </div>
                <div class="pw">
                    <input name="pw" placeholder="Passwort..." type="password" id="pw">
                </div>
            </form>
            <button onclick="fetchInput('/app/login')" type="submit" class="myButton">Weiter</button>
        </div>
    </div>
  </body>
</html>