<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mitfahrer App GSO</title>
    <link rel="stylesheet" href="/public/css/styles.css">
    <link rel="icon" href="https://www.gso-koeln.de/wp-content/uploads/2019/10/ICON-GSO_URL.png" sizes="32x32">
  </head>
  <body>
    <div class="window">
      <img src="/public/img/LOGO-GSO_neu.png" class="logo" alt="">
        <div class="login">
            <a href="/app/BenutzerAendern" class="myButton">Benutzer Einstellungen</a>
            <a href="/app/Fahrerdatenaendern" class="myButton">Fahrer Einstellungen</a>
            <a href="/app/Login" class="myButton">Abmelden</a>
            <div class="icon_footer">
                <a href="/app/Auswahl"><img style="width: 50px;margin-left: -165px;" src="/public/img/arrow_left.png" alt=""></a>
            </div>
        </div>
    </div>
  </body>
</html>