.login{
    display: flex;
    align-items: center;
    height: 500px;
    flex-direction: column;
    padding-top: 45%;
}
.window{
    height: 100vh;
    max-width: 480px;
    width: 400px;
    margin: 0 auto;
    background-color: white;
}
.logo{
    width: 400px;
}
.loginform{
    width: 90%;
    margin-left: 25px;
}
.login_btn{
    margin-top: 15px;
}
.icon_footer{
    position: fixed;
    bottom: 25px;
}
input{
    width: 85%;
    font-size: 20px;
    border-radius: 6px;
    padding: 5px;
    border-color: #82c6e2;
    margin-top: 15px;
}
.myButton {
    box-shadow: 0px 1px 0px 0px #f0f7fa;
    background-color: #82c6e2;
    border-radius: 10px;
    border: 0.5px solid grey;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 28px;
    font-weight: bold;
    text-decoration: none;
    text-shadow: 0px -1px 0px #5b6178;
    margin-left: -15px;
    width: 320px;
    text-align: center;
    margin-top: 15px;
    padding: 18px 0;
}
.myButton:hover {
	
	background-color:#67bce0;
}
.myButton:active {
	position:relative;
	top:1px;
}
.select {
    position: relative;
    display: inline-block;
    margin-bottom: 15px;
    width: 89%;
}    
.select select {
    font-family: 'Arial';
    display: inline-block;
    width: 100%;
    cursor: pointer;
    padding: 6px;
    border: 2px solid #82c6e2;
    border-radius: 6px;
    background: white;
    color: #7b7b7b;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    margin-top: 15px;
    font-size: 20px;
}
.select select::-ms-expand {
    display: none;
}
.select select:hover,
.select select:focus {
    color: #000000;

}
.select select:disabled {
    opacity: 0.5;
    pointer-events: none;
}
.select_arrow {
    position: absolute;
    top: 27px;
    right: 15px;
    width: 0px;
    height: 0px;
    border: solid #82c6e2;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
.select select:hover ~ .select_arrow,
.select select:focus ~ .select_arrow {
    border-color: #82c6e2;
}
.select select:disabled ~ .select_arrow {
    border-top-color: #82c6e2;
}